body{
    text-align: center;
}
*{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
#container{
width: 1000px;
height: 500px;
}

#image img{
    height: 200px;
    width: 100px;
}
.letter{
    height: 150px;
    font-size: 120px;
}
#l1{
    color: red;
}
#l2{
    color: brown;
}
#l3{
    color: orangered;
}
#l4{
    color: orange;
}
#l5{
    color: yellow;
    margin-right: 25px;
}
#l6{
    color: yellowgreen;
}
#l7{
    color: green;
}
#l8{
    color: darkgreen;
}
#l9{
    color: blue;
}
#l10{
    color: blueviolet;
}