body{
    text-align: center;
}
*{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
#container{
margin-left: 100px;
width: 1000px;
height: 500px;
position: relative;
}

#hello{
    width: 800px;
    height: 400px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#pannello{
    height: 10px;
    background-color: grey;
}

#image img{
    height: 200px;
    width: 100px;
}
.letter{
    height: 150px;
    font-size: 120px;
    float: left;
}
#l1{
    color: red;
}
#l2{
    color: brown;
}
#l3{
    color: orangered;
}
#l4{
    color: orange;
}
#l5{
    color: yellow;
    margin-right: 25px;
}
#l6{
    color: yellowgreen;
}
#l7{
    color: green;
}
#l8{
    color: darkgreen;
}
#l9{
    color: blue;
}
#l10{
    color: blueviolet;
}