
*{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}
#container{
width: 1000px;
}
#hello{
    width: 800px;
    height: 150px;
}
#image img{
    height: 200px;
    width: 100px;
}
.letter{
    height: 100%;
    font-size: 120px;
    float: left;
}